apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: image-scanning-webhook
  name: image-scanning-webhook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: image-scanning-webhook
  template:
    metadata:
      labels:
        app: image-scanning-webhook
    spec:
      containers:
      - image: 192.168.6.122:5000/image-scanning-webhook:0.0.1
        name: isw
        imagePullPolicy: Always      
        env:
        - name: ELASTIC_SEARCH_URL
          value: "http://{ELASTIC_SEARCH_URL}"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: image-scanning-webhook
  name: image-scanning-webhook
spec:
  selector:
    app: image-scanning-webhook
  ports:
  - port: 80
    targetPort: 80
  type: NodePort
